{# Summary table section with column descriptions and download links #}
{# Expects: result, dir_out, res_prefix, add_screen #}
<br>
<br>
    <h3 class="border-bottom mb-4"> Summary table for {{ result.custom_id }} - ASOs </h3>
            <p> Summary for each ASO sequence. Meanings of column names: <br>
                SC_bases = maximum stretch of self-complementary bases <br>
                %_SC_bases = percentage of self-complementary bases <br>
                Tm = Melting temperature<br>
                pur_perc = percentage of purine bases in ASO sequence (too high % should be avoided) <br>
                S_B_ΔG = self-binding minimum free energy of the ASO, calculated with RNAfold (green: MFE > -1, yellow: -3 to -1, red: &lt; -3)<br>
                long_pur_stretch = longest purine stretch (too long purine stretches should be avoided) <br>
                Mw = molecular weight (Da)<br>
                OT_TIR = critical off-targets in translation initiation regions<br>
                OT_tot = critical off-targets in the whole transcriptome<br>
                {% if add_screen == "microbiome" %}
                    OT_HMP = off-targets in translation initiation regions of genes in the microbiome<br>
                {% endif %}
                {% if add_screen == "human" %}
                    OT_GRCh38 = off-targets in coding regions of the human transcriptome<br>
                {% endif %}
                {% if add_screen == "essential_genes" %}
                    OT_ess_TIR = off-targets in TIR of user-defined essential genes<br>
                {% endif %}
            </p>
    <object type="text/html" data="{{ res_prefix + 'outputs/result_table.html' }}" width="100%" height="250px"> </object>

<br>
<br>
<p> Full table in HTML format: &nbsp<a href="{{ res_prefix + 'outputs/result_table.html' }}">HTML <i class="material-icons">cloud_download</i></a>
<p>Download table: &nbsp<a href="{{ res_prefix + 'outputs/result_table.csv' }}">CSV <i class="material-icons">cloud_download</i></a>
    &nbsp&nbsp
    <a href="{{ res_prefix + 'outputs/result_table.xlsx' }}">Excel <i class="material-icons">
        cloud_download</i></a>
</p>
