{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<!-- here I add the logo of MASON and centre it to the middle -->
		<div class="border-bottom mb-4 pb-3">
			<img src="{{ url_for('static', filename='mason.png') }}" width="300px" class="mx-auto d-block"/>
		</div>
		<div class="border-bottom mb-4 pb-3">
		<p>MASON (<b>M</b>ake <b>A</b>nti<b>S</b>ense <b>O</b>ligomers <b>N</b>ow) is a web-tool which guides the
			design of bacterial antisense oligonucleotides (ASOs). We initially developed it for peptide nucleic acids
			(PNAs), although it can also be used for designing other ASOs such as PMOs or LNAs. All you need is a genome and the gene you
			want to target. </p>

		<p>Read our paper:
			<a href="https://rnajournal.cshlp.org/content/29/5/570.full">
				RNA Journal - Design and off-target prediction for antisense oligomers targeting bacterial mRNAs with the
				MASON webserver <i class="material-icons">public</i></a></p>

		<p>Report bugs/problems by opening a GitHub issue: <a href="https://github.com/BarquistLab/mason/issues">github.com/BarquistLab/mason/issues<i class="material-icons">bug_report</i></a></p></p>
		<p> Contact us via email:
			<a href="mailto:jakobjung@tutanota.com?subject=MASON&body=Message"> jakobjung@tutanota.com <i class="material-icons">email</i></a></p>
		<p>Start designing ASOs for targeting any bacterial gene:
			<a href="{{ url_for('start') }}">start MASON <i class="material-icons">fast_forward</i></a></p>
		</div>

		<h2>MASON update - 2024-05</h2>
		<p>We have updated the MASON webserver with two new features:
			<a href="{{ url_for('checker') }}"><b>ASO-checker</b></a> and
			<a href="{{ url_for('scrambler') }}"><b>Scrambler</b></a>.
			<a href="{{ url_for('checker') }}"><b>ASO-checker</b></a>
			validates your ASO design by checking for off-targets in the genome as while
			checking for different ASO-specific features.
			<a href="{{ url_for('scrambler') }}"><b>Scrambler</b></a>
			scrambles the sequence of your ASO to generate the best negative control ASO sequence for your experiment.
			Therefore, there are now three options available on the MASON homepage: </p>
		<br>
		<img src="{{ url_for('static', filename='mason_all_features.png') }}" width="90%" class="mx-auto d-block"/>
		<br>
		</div>


{% endblock %}