{% extends "layout.html" %}
{% from "macros.html" import render_field, genome_gff_upload, off_target_screen_radios %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">MASON</legend>
				<div class="border-bottom mb-4 pb-3">
					<img src="{{ url_for('static', filename='mason_overview.png') }}" width="60%"  class="mx-auto d-block"/>
				</div>

				For description of parameters, see <a href="{{ url_for('help') }}">help page</a>.
				Use the button on the right to autofill the form with example data,
				designing 10-mer sequences targeting two genes
				of the <i>E. coli</i> K12  genome.
				<br><br>

				<div class="form-group">
					<a href="/startauto" class="btn btn-primary float-right" role="button">Autofill fields</a>
					{{ form.custom_id.label(class="form-control-label", style="font-weight: bold;") }}
					<p>Please select a unique custom ID to store the result</p>
					{% if form.custom_id.errors %}
						{{ form.custom_id(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.custom_id.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.custom_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<br>
				<div class="form-group">
					{{ form.presets.label(class="form-control-label", style="font-weight: bold;") }}
					<p>Select one of the preset genomes or use "Own files" to upload your own genome.</p>
					<p> Several preset genomes are available. For most preset organisms we provide a list of
					essential genes that can be selected as target genes. For organisms marked with an NCBI accession,
					the genome and annotation files will be downloaded automatically on first use.
					Other genomes (FASTA) and their annotations (GFF) can be downloaded from the
						<a href="https://www.ncbi.nlm.nih.gov/">NCBI</a> website
					and uploaded using the "Own files" option, or by entering an NCBI assembly accession directly.
					For more details on how to download custom genomes, have a look at our
						<a href="{{ url_for('help') }}">help page</a>.</p>
					{{ render_field(form.presets) }}
				</div>
				<br>
				<div class="form-group" id="essgenes">
					{{ form.essential.label(class="form-control-label", style="font-weight: bold;") }}
					<p>Select an essential gene in the dropdown menu</p>
					{{ render_field(form.essential) }}
				</div>
				<script>
					let select_presets = document.getElementById('presets');
					document.getElementById('essgenes').style.display = "none";


					let essential_choice = document.getElementById('essential');
					let essential_dict = {{ essential | tojson }};

					if (select_presets.value in essential_dict) {
						let new_choices = essential_dict[select_presets.value];
						let optionHTML = '';
						for (let item of new_choices) {
							optionHTML += '<option value="' + item.value +'">'+ item.display + '</option>';
						}
						essential_choice.innerHTML = optionHTML;
					}
					select_presets.onchange = function() {
						value = select_presets.value;
						first = document.getElementById('div_genome');
						second = document.getElementById('div_gff');
						ncbi = document.getElementById('div_ncbi_accession');
						egenes = document.getElementById('essgenes');
						if (value == 'upload') {
							egenes.style.display = 'none';
							first.style.display = 'block';
							second.style.display = 'block';
							ncbi.style.display = 'none';
							essential_choice.innerHTML = '';
						} else if (value == 'ncbi') {
							egenes.style.display = 'none';
							first.style.display = 'none';
							second.style.display = 'none';
							ncbi.style.display = 'flex';
							essential_choice.innerHTML = '';
						} else {
							if (select_presets.value in essential_dict) {
								egenes.style.display = 'block';
								var new_choices = essential_dict[select_presets.value];
								essential_choice.innerHTML = '';
								let optionHTML = '';
								for (let item of new_choices) {
									optionHTML += '<option value="' + item.value +'">'+ item.display + '</option>';
								}
								essential_choice.innerHTML = optionHTML;
							}
							else {
								egenes.style.display = 'none';
								essential_choice.innerHTML = '';
							}
							first.style.display = 'none';
							second.style.display = 'none';
							ncbi.style.display = 'none';
						}
					}
				</script>
				<script>
				  // Trigger update once on page load
				  window.addEventListener('DOMContentLoaded', () => {
					// This forces the dropdown to refresh the right fields
					select_presets.dispatchEvent(new Event('change'));
				  });
				</script>
				<br>
				{{ genome_gff_upload(form) }}
				<br>
				<div class="form-group" id="div_lt" >
					{{ form.genes.label(class="form-control-label", style="font-weight: bold;") }}
					<p>For example: SL1344_1133, SL1344_P3_0012 for <i> Salmonella</i> SL1344. Locus tags of genes can be found in the GFF file in
						the 9th column, following "locus_tag=", see <a href="./help">help page</a>. Please select
						no more than 5 genes at once to keep the running time low </p>
					{{ render_field(form.genes) }}
				</div>
				<br>
				<div class="form-group">
					{{ form.len_PNA.label(class="form-control-label", style="font-weight: bold;") }}
					<p>Length of bacterial ASOs is usually chosen to be between 9-12 nucleobases to enable entry into the
						cell. Length needs to between 7 and 16 bases</p>
					{{ render_field(form.len_PNA) }}
				</div>
				<br>
				<div class="form-group">
					{{ form.bases_before.label(class="form-control-label", style="font-weight: bold;") }}
					<p>If not specified, all ASOs overlapping the start codon are designed.
					If a SD sequence exists, it can be useful to design more ASOs lying upstream (5') the CDS to inhibit
					translation </p>
					{{ render_field(form.bases_before) }}
				</div>
				<br>
				{{ off_target_screen_radios("MASON") }}
				<br>
				<div class="form-group">
					<div class="form-check">
						{{ form.use_ml(class="form-check-input") }}
						{{ form.use_ml.label(class="form-check-label", style="font-weight: bold;") }}
					</div>
					<p>The random forest model was trained on 9-mer ASO data targeting genes in uropathogenic <i>E. coli</i> (UPEC).
						The predicted MIC values should not be interpreted as absolute values.
						Instead, use the MIC ranking to compare and select ASOs relative to each other.</p>
				</div>
				<br>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info float-left") }}
					</div>
				</div>

			</fieldset>

		</form>
	</div>
{% endblock %}
